<mat-card
  class="shadow rounded-lg p-0"
  *ngIf="recipe"
  (mouseenter)="isHovered = true"
  (mouseleave)="isHovered = false"
>
  <mat-card-title class="text-center">
    <img
      [src]="recipe.photo"
      alt=""
      class="img-fluid rounded-circle my-2"
    />
  </mat-card-title>
  <mat-card-subtitle class="text-center my-3">
    {{ recipe.name }}
  </mat-card-subtitle>
  <mat-card-subtitle class="text-center my-3">
    {{ recipe.category }}
  </mat-card-subtitle>
  <mat-card-subtitle class="text-center my-3">
    {{ recipe.author }}
  </mat-card-subtitle>
  <div class="row justify-content-center align-items-center" *ngIf="isHovered">
    <div class="col-xs-12">
      <button
        class="btn btn-info mr-1"
        (click)="onClickDetalji()"
        style="margin-bottom: 5%"
      >
        See recipe
      </button>
    </div>
  </div>
</mat-card>
