
.kontejner {
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    padding-left: 0px;
  }
  
  form {
    width: 100%;
    justify-items: center;
    align-items: center;
    margin-right: 0px;
    padding: 0%;
  }
  .dontHave {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: right;
  }
  
  mat-form-field,
  .dugme {
    padding-left: 10%;
    padding-right: 10%;
  }
  