.card-body {
  width: 60%;
  margin-left: 20%;
  height: 80%;
}
.detalji {
  height: 100px;
}
mat-form-field {
  width: 100%;
}
img {
  width: 150px;
  height: 150px;
}
container-md {
  padding: 20%;
}
input[type="file"] {
  visibility: hidden;
}

.slika {
  width: 110px;
  height: 110px;
  margin-bottom: 1%;
}
.slika-conteiner {
  display: flex;
  flex-direction: row;
}