<div
  class="
    container-md
    mt-5
    border
    rounded-lg
    align-items-center
    justify-content-center
  "
>
  <div class="card-body text-center col-xs-12" *ngIf="reviewForm">
    <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()" class="">
      <div class="form-group">
        <mat-form-field>
          <mat-label>Grade</mat-label>
          <input
            matInput
            type="number"
            formControlName="grade"
            class="form-control"
            placeholder="Enter recipe grade"
            required
          />
          <mat-error *ngIf="reviewForm.get('grade')?.invalid"
            >Please enter grade between 1 and 5</mat-error
          >
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Comment</mat-label>
          <textarea
            matInput
            type="text"
            formControlName="comment"
            class="form-control"
            placeholder="Enter recipe comment"
            required
            col="50"
            rows="5"
          ></textarea>
          <mat-error *ngIf="reviewForm.get('comment')?.invalid"
            >Please enter comment</mat-error
          >
        </mat-form-field>
      </div>

      <div class="row align-items-center justify-content-center mt-2">
        <button
          class="btn btn-primary mr-1 col-xs-12"
          type="submit"
          [disabled]="reviewForm.invalid && !recipe"
        >
          Save
        </button>
        <button class="btn btn-danger col-xs-12" (click)="onCancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
